.login-page{
    background-image: url('https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?cs=srgb&dl=pexels-pixabay-258154.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .form-login-div-1{
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .form-login {
            margin-top: 180px;
            border-radius: 7px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 20px;
            // background: none;
            background-color: rgba(128, 128, 128, 0.176);
            p {
                text-align: center;
                font-size: 22px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: white;
            }
            div {
                margin-top: 20px;
                input{
                    width: 250px;
                    height: 45px;
                    padding-left: 10px;
                    border-radius:5px;
                }
            }
        }
    }
}
