    .form-register-div {
        margin-top: 150px;
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .form-register {
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 60px;
            p {
                text-align: center;
                font-size: 22px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: #9c7441;
            }

            div {
                margin-top: 15px;

                input {
                    width: 250px;
                    height: 45px;
                    padding-left: 10px;
                    border-radius: 5px;
                }
            }
        }
    }