*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    header{
        width: 100%;
        top: 0;
        padding-top: 18px;
        padding-bottom: 5px;
        background-color: #251705;
        z-index: 999;
        font-size: 14px;
        position: fixed;
        div{
            width: 100%;
            top: 0;
            ul{
                padding-left: 1250px;
                li{
                    font-size: 13px;
                    i{
                        color: rgb(239, 166, 30);
                    }
                }
            }
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            li{
                padding: 0 10;
                position: relative;
                color: white;
                font-family: 'Poppins', sans-serif;
                transition: .5s;
                &:hover::after{
                    transform: scale(1,1);
                }
                }
            li::after{
                content: '';
                position: absolute;
                height: 0.145rem;   
                width: 100%;
                background: #B89B76;
                left: 0;
                bottom: -3px;
                transition: .5s;
                transform: scale(0,1);
            }
        }
    }
}