.all-media{
    background-color: #1a1818;
    margin-top: 120px;
    padding-top: 20px;
    color: white;
    text-align: center;
}

.media-images{
    padding: 20px;
    background-color: #1a1818;
    .img-1{
        display: flex;
        gap: 10px;
        .mediaimages{
            width: 362px;
            height: 300px;
            object-fit: cover;
        }
    }
    .img-2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        .mediaimages{
            width: 362px;
            height: 300px;
            object-fit: cover;
        }
    }
}