.title-reserv {
    // margin-top: 120px;
    background-color: #1A1818;
    width: 100%;
    padding: 60px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        .line {
            background: linear-gradient(90deg, #ffffff, #9c7441);
            width: 20%;
            padding: 1px;
        }
    }

    p {
        text-align: center;
        color: white;
        margin-top: 13px;
        font-family: sans-serif;
        font-size: 18px;
    }
}

.reservepage {
    background-color: #1A1818;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .second-div-reserve {
        background-color: #1b1b1b;
        width: 80%;

        .title-sent {
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            color: rgba(255, 255, 255, 0.685);
            font-family: sans-serif;
            font-size: 25px;
        }

        .cards {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            .card {
                background-color: rgba(255, 255, 255, 0.9);
                width: 300px;
                height: 350px;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                img{
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
                .name {
                    font-size: 25px;
                    color: #9c7441;
                    font-family: 'Times New Roman', Times, serif;
                    margin-top: 7px;
                    margin-left: 14px;
                }

                .capacity-prsncount {
                    display: flex;
                    margin-top: 7px;
                    margin-left: 7px;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                    color: gray;
                    .person{
                        font-size: 15px;
                    }
                    .capacity {
                        font-size: 15px;
                    }
                }
                .price-btn{
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .price{
                        position: relative;
                        left: 15px;
                        color: gray;
                        i{
                            color: gray;
                        }
                        span{
                        font-size: 20px;  
                        font-weight: 500;
                        }
                    }
                    button{
                        position: relative;
                        right:20px;
                        top: 2px;
                        width: 120px;
                        height: 35px;
                        border-radius: 20px;
                        border: none;
                        background-color: #9c7541da;
                        color: white;
                        transition: .5s;
                        &:hover{
                            background-color: #251705f3;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.disableds{
    display: block;
    flex-direction: column;
    margin-top: 30px;
    input{
        width: 480px;
        height: 30px;
        border-radius: 5px;
        margin-top: 5px;
    }
}